[tool.poetry]
name = "zunda-w"
version = "0.1.3"
description = "zunda-ASMR is speech to text to speech by voicevox(+Î±) and whisper ."
authors = ["OhkuboSGMS <ginger.os777146th@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "zunda_w" }]

[tool.poetry.dependencies]
python = "^3.8"
dataclasses-json = "^0.5.7"
py7zr = "^0.20.2"
pyunpack = "^0.3"
pydub = "^0.25.1"
requests = "^2.28.1"
srt = "^3.5.2"
classopt = "^0.1.9"
tqdm = "^4.64.1"
loguru = "^0.6.0"
whisper = { git = "https://github.com/openai/whisper.git", rev = "9f70a352f9f8630ab3aa0d06af5cb9532bd8c21d" }
torch = [
    { url = "https://download.pytorch.org/whl/cu113/torch-1.12.1%2Bcu113-cp38-cp38-win_amd64.whl", platform = "win32" },
    { url = "https://download.pytorch.org/whl/cu113/torch-1.12.1%2Bcu113-cp38-cp38-linux_x86_64.whl", platform = "linux" }
]



[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
zunda = "zunda_w.main:main"